# Flutter/Dart
build/
.dart_tool/
.packages
.pub-cache/
.pub/
.env

# Android
.gradle/
local.properties
*.keystore
*.jks
*.apk
*.aab
*.flat
capture_content_values.json
android/key.properties

# iOS/macOS
.generated/
DerivedData/
Pods/
.symlinks/
profile/
*.moved-aside
*.xcuserstate

# IDEs
.idea/
*.iml
.vscode/
.history
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db
